{% load static %}
<!DOCTYPE html>
<html lang="cs">

<head>
    <title>{% if page_title %}{{ page_title }}{% else %}DraciDoupe.cz{% endif %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block meta_description %}{% if meta_description %}{{ meta_description }}{% endif %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %}
        <link rel="alternate" href="http://www.dracidoupe.cz/rss/novinky.xml" type="application/rss+xml" title="Nové články ze všech rubrik" />
    {% endcomment %}
    <link rel="stylesheet" href="{{skin_css_url}}">
    {% block styles %}{% endblock %}
    <link rel="shortcut icon" type="image/svg" href="{{ skin_favico_url }}">
    <link rel="apple-touch-icon" type="image/svg" href="{{ skin_favico_url }}">
    <script defer data-domain="dracidoupe.cz" src="https://plausible.io/js/script.js"></script>
</head>

<body data-logged-in="{% if user.is_authenticated %}1{% else %}0{% endif %}">

    <div id="container">

        <header id="page_header">
            <h1>
                <a href="/" rel="home"><img src="{{ skin_logo_url }}" width="{{ logo_width }}" height="{{ logo_height }}" alt="DraciDoupe.cz"></a>
            </h1>
        </header>

        {% if skin == "historic" %}
            {% include "base/historic/top_menu.html" %}
        {% endif %}

        {% with "base/"|add:skin_for_include|add:"/left_menu.html" as lmenu %}
            {% include lmenu %}
        {% endwith %}

        {% with "base/"|add:skin_for_include|add:"/right_menu.html" as rmenu %}
            {% include rmenu %}
        {% endwith %}

        <main id="page_content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </main>

        <footer id="page_footer">
            <p><a href="/">DraciDoupe.cz</a> verze {{ deploy_info_html | safe }} © 2018-2021 <a href="https://www.almad.net/" rel="author">Almad</a> <a
                    href="https://github.com/dracidoupe/graveyard/graphs/contributors" rel="author">a ostatní přispěvatelé</a>. DrD,
                Dračí doupě a Altar jsou ochranné známky společnosti ALTAR. Všechna práva vyhrazena. Žádná část těchto
                stránek nesmí být reprodukována, publikována ani jinak využita bez svolení Redakce serveru DraciDoupe.cz
                nebo svolení autorů jednotlivých příspěvků.</p>
            <p>Tato verze stránek je open source a <a href="https://github.com/dracidoupe/graveyard/">je možné přispět k
                    jejímu vývoji</a> podle <a href="https://ddcz.readthedocs.io/en/latest/">dokumentace</a>.</p>
        </footer>
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
