{% load static %}
<html>
    <head>
        <title>DraciDoupe.cz</title>
        <!-- Nobody knows how hard-earned this charset is -->
        <meta charset="utf-8">
        <!-- Remove once this is _the_ main version -->
        <meta name="robots" content="noindex,nofollow">
        <link rel="alternate" href="http://www.dracidoupe.cz/rss/novinky.xml" type="application/rss+xml" title="Nové články ze všech rubrik" />
        <link rel="stylesheet" href="{% static 'common.css' %}">
        <link rel="stylesheet" href="{{ skin_css_url }}">
    </head>
    <body class="{{ skin }}" lang="cs">
        <header>
            <h1 class="logo"><a href="/" rel="home"><img src="{{ skin_logo_url }}" alt="DraciDoupe.cz"></a></h1>
        </header>
        <div id="app">
            <div class="skin-{{ skin }} flex">
                <main>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    
                    {% block content %}{% endblock %}
                </main>
                <nav class="left">
                    <ul class="nav_border">
                        <li><span class="list_heading">Rubriky</span>
                            <ul>
                                <li><span class="list_subheading">Tvorba</span>
                                    <ul>
                                        <li><a href="{% url 'ddcz:common-article-list' creative_page_slug='clanky' %}">Články&amp;Eseje</a></li>
                                        <li><a href="#">Galerie</a></li>
                                        <li><a href="#">Fotogalerie</a></li>
                                        <li><a href="#">Hřbitov</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li><span class="list_subheading">Doplňky</span>
                                    <ul>
                                        <li>Dovednosti</li>
                                        <li><a href="{% url 'ddcz:common-article-list' creative_page_slug='novapovolani' %}">Nová Povolání</a></li>
                                        <li><a href="{% url 'ddcz:common-article-list' creative_page_slug='noverasy' %}">Nové Rasy</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li><span class="list_subheading">Pro PJ</span>
                                    <ul>
                                        <li>Bestiář</li>
                                        <li>Dobrodružství</li>
                                        <li>Předměty</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li><span class="list_subheading">Všeobecné</span>
                                    <ul>
                                        <li>Downloady</li>
                                        <li>Linky</li>
                                        <li><a href="{% url 'ddcz:common-article-list' creative_page_slug='expanze' %}">Rozvoj DrD</a></li>
                                    </ul>
                                </li>
                            </ul>
    
                            <ul>
                                <li><span class="list_subheading">Postavy</span>
                                    <ul>
                                        <li><a href="{% url 'ddcz:common-article-list' creative_page_slug='alchymistazvl' %}">Alchymista</a></li>
                                        <li>Alchymistické předměty</li>
                                        <li><a href="{% url 'ddcz:common-article-list' creative_page_slug='hranicar' %}">Hraničář</a></li>
                                        <li>Hraničářská kouzla</li>
                                        <li><a href="{% url 'ddcz:common-article-list' creative_page_slug='kouzelnikzvl' %}">Kouzelník</a></li>
                                        <li>Kouzelnická kouzla</li>
                                        <li><a href="{% url 'ddcz:common-article-list' creative_page_slug='valecnik' %}">Válečník</a></li>
                                        <li><a href="{% url 'ddcz:common-article-list' creative_page_slug='zlodej' %}">Zloděj</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav_border">
                        <li><span class="list_heading">Ostatní</span>
                            <ul>
                                <li><span class="list_subheading">Hledat</span>
                                    <ul>
                                        <li>Vyhledávání</li>
                                        <li>Rekordy a statistiky</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li><span class="list_subheading">Hledat</span>
                                    <ul>
                                        <li>Co je to Dračí Doupě?</li>
                                        <li>Dračí manuál</li>
                                        <li>Otázky a Odpovědi</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li><span class="list_subheading">Kontakt</span>
                                    <ul>
                                        <li><a href="{% url 'ddcz:dating' %}">Seznamka</a></li>
                                        <li>Inzerce</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul>
                                <li><span class="list_subheading">Seznamy</span>
                                    <ul>
                                        <li>Tvůrci a Redakce</li>
                                        <li>Čekající díla</li>
                                        <li>Dračí líheň</li>
                                        <li>Uživatelé</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                
                <nav class="right">
                    <ul class="nav_border">
                        <li><span class="list_heading">Vzhled</span>
                            <ul>
                                <li>Family Silver</li>
                                <li>Historic</li>
                                <li><a href="{% url 'ddcz:change-skin' %}?skin=light">Light</a></li>
                                <li><a href="{% url 'ddcz:change-skin' %}?skin=dark">Dark</a></li>
                                <li>Timmothy Gold</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav_border">
                        <li><span class="list_heading">Novinky</span>
                            <ul>
                                <li><a href="{% url 'ddcz:news' %}">Aktuality</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav_border">
                        <li><span class="list_heading">Komunikace</span>
                            <ul>
                                <li>Chat</li>
                                <li><a href="http://www.dracidoupe.cz/moudrasova/">Moudrá Sova</a></li>
                                <li>Fórum</li>
                                <li>Ankety</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav_border">
                        <li><span class="list_heading">Control</span>
                            {% if user.is_authenticated %}
                                <div class="nick">{{ user.username }}</div>
                                <div class="state">online</div>
                                <p class="stats">
                                    Hlasů: {{ user.profile.reputace_rozdel }} <br>
                                    Reputace: {{ user.profile.reputace }}
                                </p>
                                {% if user.is_staff %}
                                    <p class="admin_link"><a href="{% url 'dragon:dashboard' %}">Správa</a></p>
                                {% endif %}
                                <form method="post" action="{% url 'ddcz:logout-action' %}">
                                    {% csrf_token %}
                                    <input type="submit" value="Odhlaš">
                                </form>
                            {% else %}
                                <p>Registrace</p>
                                <form method="post" action="{% url 'ddcz:login-action' %}">
                                    {% csrf_token %}
                                    {{ login_form }}
                                    <input type="submit" value="Přihlásit">
                                </form>
                                <p>Zapomněl jsem heslo</p>
                            {% endif %}
                        </li>
                    </ul>
                    <ul class="nav_border">
                        <li><span class="list_heading">Doupě jinde</span>
                            <ul>
                                <li><a href="https://www.facebook.com/DraciDoupecz-47586881642/">Facebook</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <footer id="global-footer">
            <p>© 2018 Almad, design © 2002 a 2018 by Almad. DrD, Dračí doupě a Altar jsou ochranné známky společnosti ALTAR. Všechna práva vyhrazena. Žádná část těchto stránek nesmí být reprodukována, publikována ani jinak využita bez svolení Redakce serveru DraciDoupe.cz nebo svolení autorů jednotlivých příspěvků.</p>
            <p>Tato verze stránek je open source a <a href="https://github.com/dracidoupe/graveyard/">je možné přispět k jejímu vývoji</a>.</p>
        </footer>
    </body>
</html>