*.pyc
*.pyo
__pycache__
/.cache
/.db
.db-data

/docs/_build/

/graveyard-venv
/gvenv
/.directory

/graveyard/settings/local.py
/graveyard/settings/production.py

.DS_store

# Local building tools
docker-compose.yml

## Local IDEs dirs
/.idea
/.vscode

# Original closed-source code
/legacy-version

# IaaS / Terraform state
/terraform/.terraform*
