Django>=3.1.0,<3.2
gunicorn
sqlparse
argon2-cffi
bcrypt
pytz
pyyaml
sentry-sdk>=0.14.1
selenium
whitenoise
django-storages<1.10
boto3
django-bmemcached
python-binary-memcached
feedparser>=6.0.0 # test only
psycopg2