Django>=3.1.0,<3.2
gunicorn
sqlparse
argon2-cffi
bcrypt
pytz
pyyaml
sentry-sdk>=0.14.1
selenium
playwright>=1.45.0
whitenoise
django-storages<1.10
boto3
django-bmemcached
python-binary-memcached
feedparser>=6.0.0 # test only
psycopg2
dj-database-url
mysqlclient>=1.4.0,<2.0

