.user-detail{
    background-color: rgba(255, 255, 255, .2);
    border-radius: .8rem;
    padding: 1.5rem;
    margin: 2rem auto;
    width: 100%;
}

.user-detail--info{
}

.user-detail__row{
    margin: .5rem 0rem;
}


.user-detail__row-heading,
.user-detail__row-value{
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
}


.user-detail__row-heading{    
    width: 30%;
    min-width: 300px;
}

.user-detail__row-value{
    display: inline-block;
    font-weight: bold;
    width: 65%;
}