:root{
    --bg_deb: rgba(224, 220, 19, 0);
}

.star{
    width: 1.75rem;
    padding: 0.5rem;
}

.star-active{
    border: 2px dashed #888;
}

#user_container{
    display: grid;
    grid-template-areas: 
        'info info'
        'server_stats server_stats'
        'author author'
        'patron reputation'
    ;
    grid-column: auto auto;
    gap: 2rem;
    width: 100%;
}

#user_container p{
    text-indent: 0rem;
}

#user_container > section {
    border: 2px solid var(--user_border);
    border-radius: var(--user_border_radius);
    padding-bottom: 2rem;
}

#user_container > section > h3{
    background-color: var(--user_bg_heading);
    color: var(--user_txt_heading);
    width: calc( 100% - 6rem );

    text-align: left;    
    font-size: 1.2rem;
    font-family: var(--link-font);
    
    margin-top: 0rem;    
    padding: .7rem 3rem;
}

#user_info{
    grid-area: info;
    background-color: var(--bg_deb);
}

#user_stats{
    grid-area: server_stats;
    background-color: var(--bg_deb)
}

#user_patron{
    grid-area: patron;
    background-color: var(--bg_deb);
}

#user_reputation{
    grid-area: reputation;
    background-color: var(--bg_deb);
}

#user_author{
    grid-area: author;
    background-color: var(--bg_deb);
}

#user_container table{
    width: 100%;
    padding: 0rem;
    margin: 0rem;
}

#user_container table th{
    vertical-align: top;
    width: 9rem;
    padding: 0rem;
    padding-left: 2rem;
    text-align: right;
}

#user_container table td{
    vertical-align: top;
    text-align: left;
    padding-left: 3rem;
}

#user_reputation table th,
#user_reputation table td{
    text-align: center;
}

ul.user-stars{
    display: table;
    list-style-type: none;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
}

ul.user-stars li{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


h4.creations{
    color: var(--page_bg_color);
    background-color: var(--page_txt_color);
    padding: 1rem 5rem;
    filter: brightness(0.6) contrast(0.8);
}

h4.creations::before{
    content: "Rubrika: ";
}

div.user_creations{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0rem;
}

section.user_creation{
    border: 2px solid var(--page_txt_color);
    flex-basis: 20%;
    overflow: hidden;
    min-width: 250px;
    margin: 1rem;
}

section.user_creation h5{
    margin: 0rem;
    margin-bottom: 0.5rem;
    padding: 0rem;
}

section.user_creation a{
    display: block;
    margin: 0rem;
    font-size: 1.2rem;
}

section.user_creation .stars{    
    width: 100%;
    margin: 1rem 0rem;
}

section.user_creation .stars > * {
    filter: contrast(.5) brightness(1.2);
}
