<nav id="left_menu">
    <ul class="nav_links">
        <li><a class="text-gold" href="">Chat</a></li>
        <li><a class="text-gold" href="">Moudrá sova</a></li>

        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='dobrodruzstvi' %}">Dobrodružství</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='hrbitov' %}">Hřbitov</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:phorum-list' %}">Fórum</a></li>
        <li><a class="text-red" href="{% url 'ddcz:creation-list' creative_page_slug='clanky' %}">Články<span class="text-gold">&amp;</span>Eseje</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='expanze' %}">Rozvoj DrD</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='bestiar' %}">Bestiář</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='predmety' %}">Předměty</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='kouzelnikzvl' %}">Kouzelník</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='kouzla' %}">Kouzla</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='alchymistazvl' %}">Alchymista</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='alchpredmety' %}">Alchymistické předměty</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='valecnik' %}">Válečník</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='hranicar' %}">Hraničář</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='hranicarkouzla' %}">Hraničářská kouzla</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='zlodej' %}">Zloděj</a></li>        
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='novapovolani' %}"><span class="text-blue">Nová</span> Povolání</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='noverasy' %}"><span class="text-blue">Nové</span> Rasy</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:creation-list' creative_page_slug='dovednosti' %}">Dovednosti</a></li>
        <li><a class="text-red" href="{% url 'ddcz:creation-list' creative_page_slug='downloady' %}">Downloady</a></li>
        <li><a class="text-red" href="{% url 'ddcz:creation-list' creative_page_slug='galerie' %}">Galerie</a></li>
        <li><a class="text-red" href="{% url 'ddcz:creation-list' creative_page_slug='fotogalerie' %}">Fotogalerie</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:links-list' %}">Linky</a></li>
        <li><a class="text-gold" href="{% url 'ddcz:dating' %}">Seznamka</a></li>
        <li><a class="text-red" href="">Inzerce</a></li>


        <li><a href="{% url 'ddcz:creation-list' creative_page_slug='galerie' %}">Galerie</a></li>
        <li><a href="{% url 'ddcz:creation-list' creative_page_slug='fotogalerie' %}">Fotogalerie</a></li>
        
    </ul>
</nav>