{% load comments %}
{% load html %}
{% load users %}
{% load pages %}


{% pagination letters per_page %}

<section class="postal_service_demands">
    <form method="get">
        <label for="l">Počet dopisů</label>
        <select name="l">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="{{ box_occupancy }}">vše</option>
        </select>
        <input type="submit" value="Zažádej draka o výpis">
    </form>
</section>

<p>
    Tvůj drak Helimardu ti zatím vyřídil tuto korespondenci:
</p>
{% for letter in letters %}
<article class="postal_service_letter">
    <section class="postal_info">
        <section>
            <span class="sender">
                <a href="{{ letter.sender | nick_url }}">{{ letter.sender }}</a>
            </span>
            &mapsto;
            <span class="receiver">
                <a href="{{ letter.receiver | nick_url }}">{{ letter.receiver }}</a>
            </span>
            &lbrack;
            {% if letter.sender == user.userprofile.nick %}
            Odchozí
            {% else %}
            Příchozí
            {% endif %}
            &rbrack;
        </section>
        <section>

        </section>
        <section>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="fid" value="{{ delete_id }}">
                <input type="hidden" name="id" value="{{ letter.pk }}">
                <input type="submit" value="Smazat zprávu">
            </form>
        </section>
        <section>
            {{ letter.date | commentTime }}
        </section>
    </section>
    {# Add icon later #}
    <section class="postal_letter_body">
        <section class="opponent_icon">
            {% if letter.sender == user.userprofile.nick %}
                <img src="{{ letter.receiver | nick_icon }}" alt="Ikonka uživatele {{ letter.receiver }}">
            {% else %}
                <img src="{{ letter.sender | nick_icon }}" alt="Ikonka uživatele {{ letter.sender }}">
            {% endif %}

        </section>
        <section class="postal_text">
            {{ letter.text | render_html | safe }}
        </section>
    </section>
</article>
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}

{% pagination letters per_page %}
