<section class="postal_service_send">
    <form method="post">
    {% csrf_token %}
    <input type="hidden" name="fid" value="{{ send_id }}">
    
    <label for="whom">Drakovi stačí znát příjemce:</label>
    <select name="whom">
        {% for post_user in users %}
        {% if post_user.nick != user.userprofile.nick %}
        <option value="{{ post_user.id }}">{{ post_user.nick }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <textarea name="text" required></textarea>
    <input type="submit" value="Pošli draka se zprávou">
</form>
</section>
