{% extends 'base.html' %}
{% load html %}
{% block content %}
    <h1>Aktuality</h1>

    <p>Zde je možné posílat aktuality. Používejte s rozvahou. Odeslané e-maily mohou výváři <a href="https://app.eu.mailgun.com/app/dashboard">ladit v Mailgunu</a>.</p>
    <p>Pro editaci a administrátorskou správu aktualit použijte <a href="/admin/ddcz/news/">příslušnou stránku v Django adminu</a>.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Přidat novou aktualitu">
    </form>
{% endblock %}
