{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load pages %}

{% block content %}

<div id="page-market">
    <h1 class="page-heading">Inzerce</h1>
    <p>Zde můžete nabídnout k prodeji, nebo zde naopak můžete koupit, vyměnit či darovat vše co se týká fantasy či Dračího doupěte. </p>
    <p>Prosíme vás, abyste inzeráty týkající se seznamování hráčů přidávali do <a href="{% url 'ddcz:dating' %}">Seznamky</a>. Takové inzeráty budou z této rubriky mazány. </p>
    {% pagination items %}
    <br>
    {% for i in items %}
        <article class="market">
            <p>
                <span class="label">Jméno: </span>{% if i.email %}
                    <span class="value"><a href="mailto:{{ i.email }}">{{ i.jmeno }}</a></span>
                {% else %}
                    <span class="value">{{ i.name }}</span>
                {% endif %}
            </p>
            <p>
                <span class="label">Sekce: </span><span class="value"><a href="{% url 'ddcz:market' %}?sekce={{ i.group | urlencode }}">{{ i.get_group_display }}</a></span>
            </p>
            <p>
                <span class="label">Okres: </span><span class="value">{{ i.area }}</span>
            </p>
            {% if i.telefon %}
            <p>
                <span class="label">Telefon: </span><span class="value">{{ i.phone }}</span>
            </p>
            {% endif %}
            {% if i.mobile %}
            <p>
                <span class="label">Mobil: </span><span class="value">{{ i.mobile }}</span>
            </p>
            {% endif %}
            <p>
                <span class="label">Přidáno: </span><span class="value"><time datetime={{ i.published | date:"c"  }}>{{ i.published | czech_date }}</time></span>
            </p>
            <p>
                <span class="label">Text: </span><span class="market_text value">{{ i.text|render_html|safe }}</span>
            </p>
        </article>

        <hr>
    {% endfor %}
    {% pagination items %}
</div>
{% endblock %}
