{% extends 'public.html' %}
{% load datetime %}
{% block content %}

<h1 class="page-heading">Dračí líheň</h1>
<p>
    Kdysi dávno se ve Městě líhlo mnoho draků.
</p>

<table>
    {% if awaiting %}
    <tr>
        <th>Dračí vejce</th>
        <th>Čas líhnutí</th>
        <th>Očekávané vylíhnutí</th>
        <th>Dračí chovatel</th>
        <th></th>
    </tr>
    {% for registration in registrations %}
    <tr>
        <td>{{ registration.nick }}</td>
        <td>{{ registration.waiting_time | timestamp_to_difference }}</td>
        <td>{{ registration.expected_approval_time | timestamp_to_datetime }}</td>
        <td>
            {% if registration.patron is not 0 %}
            {{ registration.patron_name }}
            {% else %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="{{ dragon_keeper }}" value="{{ registration.id }}">
                <input type="hidden" name="user" value="">
                <button type="submit">Chovat dráčka</button>
            </form>
            {% endif %}
        </td>
        <td></td>
    </tr>
    {% endfor %}
    {% else %}
    <p>
        <b>Aktuálně není v procesu líhnutí žádný mladý dráček.</b>
    </p>
    {% endif %}
    
</table>
{% endblock %}
