{% extends 'public.html' %}
{% load datetime %}
{% block content %}

<h1 class="page-heading">Dračí líheň</h1>
<p>
    
</p>

{% if awaiting %}
<table id="awaiting_registration">    
    <tr>
        <th>Dračí vejce</th>
        <th>Čas líhnutí</th>
        <th>Očekávané vylíhnutí</th>
        <th>Dračí chovatel</th>
        {% if user.userprofile.level in dragon_confirming_levels %}
        <th>Měští úředníci</th>
        {% endif %}
    </tr>
    {% for registration in registrations %}
    <tr>
        <td>{{ registration.nick }}</td>
        <td>{{ registration.waiting_time | timestamp_to_difference }}</td>
        <td>{{ registration.expected_approval_time | timestamp_to_datetime }}</td>
        <td>            
            {% if registration.patron is not 0 %}
            {{ registration.patron_name }}
            {% elif user.userprofile is not null %}
            
            {% endif %}
        </td>
        <td>
            {% if user.userprofile.level in dragon_confirming_levels %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="{{ dragon_keeper }}" value="{{ registration.id }}">
                <button type="submit" disabled>Vylíhnutí vejce</button>
            </form>
            {% endif %}            
        </td>
    </tr>
    {% endfor %}    
</table>
{% else %}
<p><b>Aktuálně se nelíhne žádný mladý dráček.</b></p>
{% endif %}    
{% endblock %}
