{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load comments %}
{% load users %}
{% block content %}

<div id="page-user-detail">
    <h1 class="page-heading">Uživatel{% if profile.is_female %}ka{% endif %} {{ profile.nick }}</h1>
    {% if profile.icon_url %}<p><img src="{{ profile.icon_url }}" alt="Ikonka uživatele"></p>{% endif %}


    <div id="user_container">
        <section id="user_info">
            <h3>Info o uživatel{% if profile.is_female %}ce{%else%}i{% endif %}</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <td>{{ profile.id }}</td>
                </tr>
                {% if permission.name_given or permission.name_family %}
                <tr>
                    <th>Jméno</th>
                    <td>{% if permission.name_given %}{{ profile.name_given }} {% endif %}{% if permission.name_family %}{{ profile.name_family }}{% endif %}</td>
                </tr>
                {% endif %}
                {% if permission.email %}
                <tr>
                    <th>E-mail</th>
                    <td>{{ profile.email }}</td>
                </tr>
                {% endif %}
                {% if permission.gender %}
                <tr>
                    <th>Pohlaví</th>
                    <td>{{ profile.gender }}</td>
                </tr>
                {% endif %}
                {% if permission.age %}
                <tr>
                    <th>Věk</th>
                    <td>{{ profile.age }}</td>
                </tr>
                {% endif %}
                {% if permission.shire %}
                <tr>
                    <th>Kraj</th>
                    <td>{{ profile.location }}</td>
                </tr>
                {% endif %}
                {% if permission.icq %}
                <tr>
                    <th>ICQ</th>
                    <td>{{ profile.icq }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Popis</th>
                    <td>{{ profile.description }}</td>
                </tr>
            </table>
        </section>
        <section id="user_stats">
            <h3>Serverové statistiky</h3>
            <table>
                <tr>
                    <td colspan="2">
                        <ul class="user-stars">
                        {% for level, star_url in level_stars.items %}
                            <li>
                                <img src="{{ star_url }}" alt="{{ level }}"
                                    class="star{% if level == profile.level %} star-active{% endif %}">
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if profile.id == user.profile.id %}
                <tr>
                    <th>Level</th>
                    <td><p>{{ level_description }}</p></td>
                </tr>
                {% endif %}
                <tr>
                    <th>Naposledy spatřen{% if profile.is_female %}a{% endif %} </th>
                    <td>{{ profile.last_login | articleTime }}</td>
                </tr>
                <tr>
                    <th>Registrován{% if profile.is_female %}a{% endif %} </th>
                    <td>{{ profile.registration_date | articleTime }}</td>
                </tr>
            </table>
        </section>

        <!--
        <section id="user_patron">
            <h3>Patronát</h3>
        </section>
        -->

        <section id="user_reputation">
            <h3>Věhlas</h3>
            <table>
                <tr>
                    <th>Reputace</th>
                    <th>Kladná</th>
                    <th>Záporná</th>
                </tr>
                <tr>
                    <td>{{ profile.reputace }}</td>
                    <td> - </td>
                    <td> - </td>
                </tr>
            </table>
        </section>

        {% if profile.is_author %}
        <section id="user_author">
            <h3><span>Díla uživatele</span></h3>

            {% for slug, page_dict in creations.items %}
                <table id="creation_table">
                    <tr><th colspan="3">{{ page_dict.page.name }}</th></tr>
                    {% for creation in page_dict.creations %}
                    <tr class="creation">
                        <td><a href="{% creation_canonical_url page_dict.page creation %}">{{ creation.name }}</a></td>
                        <td class="stars">{% creation_rating creation.rating skin %}</td>
                        <td class="date">{{ creation.published | czech_date }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </section>
        {% endif %}

        {% if runes.count != 0 %}
        <section id="user_runes">
            <h3>Obdržené runy</h3>
            {% for rune in runes %}
            <section class="user_rune">
                <section class="rune_graphics"><img src="{{ rune.image_url }}" alt=""> <br> {{ rune.type }}</section>
                <section class="rune_donor"><a href="{{ rune.donor_nick | nick_url}}">{{ rune.donor_nick }}</a></section>
                <section class="rune_text">{{ rune.text }}</section>
                <section class="rune_date">{{ rune.date | commentTime }}</section>
            </section>
            {% endfor %}
        </section>            
        {% endif %}

    </div>
</div>
{% endblock %}
