{% extends 'public.html' %}
{% load html %}
{% block content %}
<div id="page-user-detail">
    <h1 class="page-heading">Uživatel{% if profile.is_female %}ka{% endif %} {{ profile.nick_uzivatele }}</h1>
    {% if profile.icon_url %}<p><img src="{{ profile.icon_url }}" alt="Ikonka uživatele"></p>{% endif %}
    {% if profile.is_author %}
        <p>Uživatel je autorem. <a href="{{ profile.author_url }}">Přejít na autorský profil</a></p>
    {% endif %}
    <p><span class="label">Popis:</span> <span class="value">{{ profile.popis_uzivatele }}</span></p>
</div>
{% endblock %}