{% extends 'public.html' %}
{% load html %}
{% block content %}
{% load creations %}

<div id="page-user-detail">
    <h1 class="page-heading">Uživatel{% if profile.is_female %}ka{% endif %} {{ profile.nick_uzivatele }}</h1>
    {% if profile.icon_url %}<p><img src="{{ profile.icon_url }}" alt="Ikonka uživatele"></p>{% endif %}


    <div id="user_container">
        <section id="user_info">
            <h3>Info o uživatel{% if profile.is_female %}ce{%else%}i{% endif %}</h3>
            <table>
                <tr>
                    <th>ID</th>
                    <td>{{ profile.id }}</td>
                </tr>
                <tr>
                    <th>Jméno</th>
                    <td>
                        {{ profile.jmeno_uzivatele }}
                        {{ profile.prijmeni_uzivatele }}
                    </td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>{{ profile.email_uzivatele }}</td>
                </tr>
                <tr>
                    <th>Pohlaví</th>
                    <td>{{ profile.pohlavi_uzivatele }}</td>
                </tr>
                <tr>
                    <th>Věk</th>
                    <td>{{ profile.age }}</td>
                </tr>
                <tr>
                    <th>Kraj</th>
                    <td>{{ profile.location }}</td>
                </tr>
                <tr>
                    <th>ICQ</th>
                    <td>{{ profile.icq_uzivatele }}</td>
                </tr>
                <tr>
                    <th>Popis</th>
                    <td>{{ profile.description }}</td>
                </tr>
            </table>
        </section>
        <section id="user_stats">
            <h3>Serverové statistiky</h3>
            <table>
                <tr>
                    <td colspan="2">
                        <ul class="user-stars">
                        {% for level in levels %}
                            <li>
                                <img src="/static/skins/{{ skin }}/img/star-level-{{ level }}.svg" alt="{{ level }}" 
                                    class="star{% if level == profile.level %} star-active{% endif %}">
                            </li>                                
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% if profile.id == user.profile.id %}
                <tr>
                    <th>Level</th>
                    <td><p>{{ level_description }}</p></td>
                </tr>
                {% endif %}
                <tr>
                    <th>Spatřen{% if profile.is_female %}a{% endif %} </th>
                    <td>{{ profile.last_login }}</td>
                </tr>
                <tr>
                    <th>Registrován{% if profile.is_female %}a{% endif %} </th>
                    <td>{{ profile.registration_date }}</td>
                </tr>
            </table>
        </section>


        <section id="user_patron">
            <h3>Patronát</h3>
        </section>
        
        
        <section id="user_reputation">
            <h3>Věhlas</h3>
            <table>
                <tr>
                    <th>Reputace</th>
                    <th>Kladná</th>
                    <th>Záporná</th>
                </tr>
                <tr>
                    <td>{{ profile.reputace }}</td>
                    <td>{{ profile.reputace }}</td>
                    <td>{{ profile.get_average_reputation }}</td>
                </tr>
            </table>
        </section>

        <section id="user_author">
            <h3>Díla uživatele</h3>        
            {% if profile.is_author %}
            <p>Uživatel je autorem. <a href="{{ profile.author_url }}">Přejít na autorský profil</a></p>
            {% for slug, page_dict in creations.items %}
                <h4 class="creations">{{ page_dict.page.name }}</h4>
                <div class="user_creations">
                {% for creation in page_dict.creations %}
                <section class="user_creation">
                    <h5><a href="{% creation_canonical_url page_dict.page creation %}">{{ creation.jmeno }}</a></h5>
                    <div class="stars">
                        {% creation_rating creation.pochvez skin %}
                    </div>
                    <div class="date">
                        {{ creation.datum | articleTime }}
                    </div>                    
                </section>
                {% endfor %}
                </div>
            {% endfor %}            
            {% else %}
            <p>
                Uživatel není autorem žádného rubrikového příspěvku.
            </p>
            {% endif %}
        </section>        
        
    </div>    
</div>
{% endblock %}
