{% extends 'public.html' %}
{% load html %}
{% load pages %}
{% load users %}

{% block content %}
<div class="user-list">
    <h1 class="page-heading">Uživatelé</h1>


    <p>Kliknutím na nick uživatele nebo vepsáním nicku nebo ID do formuláře se zobrazí jeho podrobnosti.</p>

    <!--
    <form method="get" action="{% url "ddcz:users-list" %}">
    Nick / ID: <INPUT type="text" name="nick" value="">
    <INPUT type="submit" value="Zobrazit">
    </form>

    table style: width="100%" cellspacing="2" cellpadding="2" border="0"
    -->
    {% pagination users %}
    <br>

    <table class="user-list__table">
    <tr>
        <th>Nick</th>
        <th>Level</th>
        {% if user.is_authenticated %}
            <th>E-mail</th>
        {% endif %}
        <th>Popis</th>
    </tr>

    {% for profile in users %}
        <tr>
            <td><a href="{{ profile.profile_url }}">{{ profile.nick }}</a></td>
            <td>{% level_star profile skin %}</td>
            {% if user.is_authenticated %}
                <td>
                    {% if profile.show_email %}
                        <a href="mailto:{{ profile.email_uzivatele }}" rel="external">{{ profile.email_uzivatele }}</a>
                    {% else %}
                        <span title="Uživatel{% if profile.is_female %}ka{% endif %} se rozhodl{% if profile.is_female %}a{% endif %} e-mail nezveřejnit">---</span>
                    {% endif %}
                </td>
            {% endif %}
            <td>{{ profile.description | render_html | safe }}</td>
        </tr>
    {% endfor %}

    </table>

    {% pagination users %}

</div>

{% endblock %}
