{% extends 'public.html' %}
{% load html %}
{% block content %}
<div id="page-password-change">
    <h1 class="page-heading">Změna hesla</h1>

    {% if validlink %}

        <form method="post">
            {% csrf_token %}
            <input style="display: none;" autocomplete="username" value="{{ form.user.username }}">
            {{ form.as_ul }}
            <br>
            <input type="submit" value="Zmeň heslo">
        </form>

    {% else %}

    <p>Něco je špatně s odkazem, kterým jste se sem dostali. Prosím, <a href="{% url 'ddcz:password-reset' %}">vyžádejte si link znovu</a>.</p>

    {% endif %}
</div>
{% endblock %}