@import "../../../common/css/main.css";

:root{
    --debug_bg_color: rgba(255, 255, 255, 0);

    --page_bg_color: #c0c0c0;
    --page_txt_color: #000000;

    --heading_color: #ffffff;
    --heading_bg_color: #2f4f4f;
    --subheading_bg_color: #aaaaaa;

    --hr_color: #ab8a3f;
    --input-bg-color: #c0c0c0;

    --link-color: #2f4f4f;
    --link-color-hover: #0d2d2d;

    --navbox-border-color: #000000;
    --nick_color: #ff0000;

    --user_border: #2f4f4f;
    --user_bg_heading: #aaaaaa;
    --user_txt_heading: #000;
    --user_border_radius: 0rem;
    --user_star_active_border: #aaaaaa;
    --user_h3_size: 1.2rem;
    --user_h3_bottom: transparent;
}


/* =========== BASIC SETTINGS ============ */
body{
    background-color: var(--page_bg_color);
    color: var(--page_txt_color);
    font-family: Verdana, Arial, sans-serif;
}

h1,
h2,
h3{
    text-align: center;
}

input,
textarea,
select{
    background-color: var(--input-bg-color);
}

a,
a:link,
a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover, a:active{
    color: var(--link-color-hover);
}

hr{
    color: var(--hr_color);
}

/* =========== GRID LAYOUT ============ */

#container{
    display: grid;
    grid-template-areas:
        'header         header      header'
        'left_menu      main        right_menu'
        'footer         footer      footer'
    ;
    grid-template-columns: 175px auto 175px;
    gap: 10px 50px;
    width: 95%;
    margin: 0rem auto;
}

header#page_header{
    grid-area: header;
    background-color: var(--debug_bg_color);
}

nav#left_menu{
    grid-area: left_menu;
    width: 100%;
    background-color: var(--debug_bg_color);
}

nav#right_menu{
    grid-area: right_menu;
    width: 100%;
    background-color: var(--debug_bg_color);
}

main#page_content{
    grid-area: main;
    width: 100%;
    background-color: var(--debug_bg_color);
}

footer#page_footer{
    margin: 0rem auto;
    width: 60%;
    grid-area: footer;
    font-size: 0.8rem;
    text-align: center;
    background-color: var(--debug_bg_color);
}


/* =========== HEADER ============ */
header#page_header h1{
    text-align: center;
}

header#page_header h1 img{
    width: 600px;
}


/* =========== MENU ============ */
nav ul{
    list-style-type: none;
    padding: 0rem;
}

nav ul.nav_border{
    display: block;
    border: 1px solid var(--navbox-border-color);
}

nav .list_heading{
    display: block;
    background-color: var(--heading_bg_color);
    color: var(--heading_color);
    text-align: center;
    font-weight: bold;
    padding: 4px 0px;
}

nav .list_subheading{
    display: block;
    background-color: var(--subheading_bg_color);
    text-align: center;
    font-weight: bold;
    padding: 4px 0px;
}

nav .list_subheading::before {
    content: "- ";
}

nav .list_subheading::after {
    content: " -";
}

nav .list_box{
    padding: 5px;
}

nav ul li a{
    display: block;
    font-weight: bold;
}

nav ul li a::first-letter {
    color: #000050;
}


.nav_border .nick,
.nav_border .state,
.nav_border .stats,
.nav_border .admin_link {
    text-align: center;
    font-weight: bold;
 }

.nav_border .nick{
     color: var(--nick_color);
 }

.nav_border .user_icon {
    text-align: center;
    width: 100%;
    height: 50px;
}

.nav_border form {
    text-align: center;
}


/* =========== MAIN CONTENT ============ */
h1.page-heading{
    width: 100%;
    font-weight: bold;
    border-top: 0px;
    border-bottom: 0px;
    background-color: var(--heading_bg_color);
    color: var(--heading_color);
    text-align: center;
    font-size: 1.55rem;
    padding: 3px 0px;
}

.pagination a::before{
    content: "[";
}

.pagination a::after{
    content: "]";
}

#page-news header time {
    font-weight: bold;
}

#page-news footer {
    width: 100%;
    text-align: right;
}
