@import "../common.css";

:root{
    --page_bg_color: #c0c0c0;
}


/* =========== BASIC SETTINGS ============ */
body {
    background-color: var(--page_bg_color);
    font-family: Verdana, Arial, sans-serif;
}

/* =========== GRID LAYOUT ============ */

#container{
    display: grid;
    grid-template-areas: 
        'header         header      header'
        'left_menu      main        right_menu'
        'footer         footer      footer'
    ;
    grid-template-columns: 175px auto 200px;
    gap: 10px 50px;
}

header#page_header{
    grid-area: header;
    background-color: var(--bg_color);
}

nav#left_menu{
    grid-area: left_menu;
    width: 100%;
    background-color: lightblue;
}

nav#right_menu{
    grid-area: right_menu;
    width: 100%;
    background-color: lightblue;
}

main#page_content{
    grid-area: main;
    width: 100%;
    background-color: lightgreen;
}

footer#page_footer{
    margin: 0rem auto;
    width: 60%;
    grid-area: footer;
    font-size: 0.8rem;
    text-align: center;
}


/* =========== HEADER ============ */
header#page_header h1{    
    text-align: center;
}

header#page_header h1 img{
    width: 600px;
}