<div>
    <h1 class="page-heading">Aktuality</h1>
    <div v-html="page_intro"></div>
    {% for n in news %}
        <article>
        <header>
            <p><time :datetime={{ n.datum | date:"r"  }}>{{ n.datum | date:"j. n. Y v H:i:s" }}</time></p>
        </header>
        <div class="content">
            {{ n.text }}
        </div>
        <footer>
            <a href="{{ n.autmail }}" class="author" rel="author">{{ n.autor }}</a>
        </footer>
        </article>
    {% endfor %}
</div>