{% extends 'public.html' %}
{% load html %}
{% load pages %}
{% load creations %}

{% block meta_description %}Domov všech hráčů Dračího Doupěte. Přes dvacet let doplňků, povolání, nestvůr do bestíáře, dobrodružství a debat o nich. Prostor pro seznámení hráčů a hráček a tvorbu družit.{% endblock %}

{% block content %}
<div id="page-news">
    <h1 class="text-blue page-heading">Aktuality</h1>
    <p>Vítejte na největším serveru o Dračím Doupěti. Najdete zde spoustu doplňků, článků či diskuzí k tématům. Pomocí menu "Skiny" si můžete změnit i vzhled tohoto webu, přesně podle Vašeho vkusu. {% if not user.is_authenticated %} Chcete-li využít všech funkcí tohoto webu, <a href="{% url 'ddcz:sign-up' %}">měli byste se zaregistrovat</a>.{% endif %}</p>
    {% pagination news %}
    <div class="article-list">
    {% for n in news %}
        <article>
            <header>
                <p><time datetime={{ n.date | date:"r"  }}>{{ n.date | articleTime }}</time></p>
            </header>
            <div class="content">
                {{ n.text|render_html|safe }}
            </div>
            <footer>
                <a href="#" class="author" rel="author">{{ n.author }}</a>
            </footer>
        </article>
    {% endfor %}
    </div>
    {% pagination news %}
</div>
{% endblock %}
