{% extends 'public.html' %}
{% load html %}
{% load pages %}
{% load creations %}

{% block content %}
<div id="page-news">
    <h1 class="text-blue page-heading">Aktuality</h1>
    <div>Vítejte na největším serveru o Dračím Doupěti. Najdete zde spoustu doplňků, článků či diskuzí k tématům. Pomocí menu "Skiny" si můžete změnit i vzhled tohoto webu, přesně podle Vašeho vkusu. Chcete-li využít všech funkcí tohoto webu, měli byste se zaregistrovat. </div>
    {% pagination news %}
    <div class="article-list">
    {% for n in news %}
        <article>
            <header>
                <p><time datetime={{ n.datum | date:"r"  }}>{{ n.datum | articleTime }}</time></p>
            </header>
            <div class="content">
                {{ n.text|render_html|safe }}
            </div>
            <footer>
                <a href="#" class="author" rel="author">{{ n.autor }}</a>
            </footer>
        </article>
    {% endfor %}
    </div>
    {% pagination news %}
</div>
{% endblock %}