{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load pages %}
{% load datetime %}


{% block content %}
<div>
    <h1 class="page-heading">{{ heading }}</h1>
    {% if user.is_authenticated and concept %}
        <p><a href="{% url 'ddcz:creative-page-concept' creative_page_slug %}">{{ concept }}</a></p>
    {% endif %}

    {% pagination articles %}

    <ul class="article-list">
    {% for a in articles %}
        <li class="creation-detail">
            <h2><a href="{% url 'ddcz:creation-detail' creative_page_slug=creative_page_slug creation_id=a.id creation_slug=a.get_slug %}">{{ a.jmeno }}</a>{% creation_rating a.pochvez skin %}</h2>
            <div class="table-like">
                <p><span class="label">Skupina:</span> <span class="value">{{ a.skupina }}</span></p>
                {% if a.mag %}
                    <p><span class="label">Magenergie:</span> <span class="value">{{ a.mag }}</span></p>
                {% endif %}
                {% if a.suroviny %}
                    <p><span class="label">Suroviny:</span> <span class="value">{{ a.suroviny }}</span></p>
                {% endif %}
                {% if a.zaklad %}
                    <p><span class="label">Základ:</span> <span class="value">{{ a.zaklad }}</span></p>
                {% endif %}
                {% if a.nalezeni %}
                    <p><span class="label">Nalezení:</span> <span class="value">{{ a.nalezeni }}</span></p>
                {% endif %}
                {% if a.trvani %}
                    <p><span class="label">Trvání:</span> <span class="value">{{ a.trvani }}</span></p>
                {% endif %}
                {% if a.vyroba %}
                    <p><span class="label">Výroba:</span> <span class="value">{{ a.vyroba }}</span></p>
                {% endif %}
                {% if a.nebezpecnost %}
                    <p><span class="label">Nebezpečnost:</span> <span class="value">{{ a.nebezpecnost }}</span></p>
                {% endif %}
                {% if a.sila %}
                    <p><span class="label">Síla:</span> <span class="value">{{ a.sila }}</span></p>
                {% endif %}
                {% if a.bcz %}
                    <p><span class="label">Barva/chuť/zápach:</span> <span class="value">{{ a.bcz }}</span></p>
                {% endif %}
                {% if a.denmag %}
                    <p><span class="label">Magy/den:</span> <span class="value">{{ a.denmag }}</span></p>
                {% endif %}


                <div class="description-row"><span class="label">Popis:</span> <div class="value">{{ a.popis|render_html_insecurely|safe }}</div></div>

                <p><span class="label">Přidáno:</span> <span class="value"><time datetime={{ a.datum | date:"r"  }}>{{ a.datum | articleTime }}</time></span></p>
                <p><span class="label">Přečteno:</span> <span class="value">{{ a.precteno }}</span></p>
                <p><span class="label">Hlasovalo:</span> <span class="value">{{ a.pocet_hlasujicich }}</span></p>

                <p><span class="label">Autor:</span> <span class="value">{% author_display a %}</span></p>
                <!--
                <p><span class="label">Příspěvků k článku:</span> <span class="value">TODO</span></p>
                -->
            </div>
        </li>
    {% endfor %}
    </ul>

    {% pagination articles %}

</div>
{% endblock %}