{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load comments %}

{% block content %}
<div id="page-article-detail">
    <h1 class="page-heading">{{ heading }}</h1>
    <article>
        <header>
            <h2>{{ article.name }}{% creation_rating article.rating skin %}</h2>
            <!-- TODO
            <p>Příprava pro tisk</p>
            -->
            <table>
                <tr>
                    <th>Autor:</th>
                    <td>{% author_display article %}</td>
                </tr>
                <tr>
                    <th>Přidáno:</th>
                    <td><time datetime="{{ article.published | date:"c"  }}">{{ article.published | articleTime }}</time></td>
                </tr>
                <tr>
                    <th>Hlasovalo:</th>
                    <td>{{ article.rater_no }}</td>
                </tr>
            </table>
            <p class="synopsis">{{ article.anotace }}</p>
        </header>

        <section class="content">
            {{ article.text|render_html_insecurely|safe }}
        </section>
        <footer>
        </footer>

        {# creation_votes creative_page_slug article.pk  #}
        {% creation_comments creative_page_slug article.pk %}

    </article>


</div>
{% endblock %}
