{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% block content %}
<div id="page-article-detail">
    <h1 class="page-heading">{{ heading }}</h1>
    <article>
        <header>
            <h2>{{ article.jmeno }}{% creation_rating article.pochvez skin %}</h2>
            <!-- TODO
            <p>Příprava pro tisk</p>
            -->
            <table>
                <tr>
                    <th>Autor:</th>
                    <td>{% author_display article %}</td>
                </tr>
                <tr>
                    <th>Přidáno:</th>
                    <td><time datetime={{ article.datum | date:"r"  }}>{{ article.datum | articleTime }}</time></td>
                </tr>
                <tr>
                    <th>Hlasovalo:</th>
                    <td>{{ article.pocet_hlasujicich }}</td>
                </tr>
            </table>
            <p class="synopsis">{{ article.anotace }}</p>
        </header>

        <div class="content">
            {{ article.text|render_html_insecurely|safe }}
        </div>
        <footer>
            
        </footer>
    </article>

</div>
{% endblock %}