{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load pages %}


{% block content %}
<div id="page-common-article">
    <h1 class="page-heading {% if heading == 'Články&Eseje' %}text-red{% endif %}">{{ heading }}</h1>
    {% if user.is_authenticated and concept %}
        <p><a href="{% url 'ddcz:creative-page-concept' creative_page_slug %}">{{ concept }}</a></p>
    {% endif %}

    {% if user.is_authenticated %}
        <p>Patříte-li mezi starostlivé skřítky, <a href="{% url 'ddcz:creative_page_html_check' creative_page_slug %}">podívejte se na příspěvky, které potřebují opravit text</a>.</p>
    {% endif %}

    {% pagination articles %}
    {% list_default articles creative_page_slug skin %}   
    {% pagination articles %}
    
</div>
{% endblock %}
