{% extends 'public.html' %}
{% load html %}
{% block content %}
<div id="page-article-detail">
    <h1 class="page-heading">{{ heading }}</h1>
    <article>
        <header>
            <h2>{{ article.jmeno }}</h2>
            <!-- TODO
            <p>Příprava pro tisk</p>
            -->
            <table>
                <tr>
                    <th>Autor:</th>
                    <td>
                        {% if article.author_profile %}
                            <a
                                href="{% url 'ddcz:user-detail' user_profile_id=article.author_profile.id nick_slug=article.author_profile.slug %}"
                                class="author"
                                rel="author">{{ article.autor }}</a>
                        {% else %}
                            Neznámý
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Přidáno:</th>
                    <td><time datetime={{ article.datum | date:"r"  }}>{{ article.datum | date:"j. n. Y v H:i:s" }}</time></td>
                </tr>
                <tr>
                    <th>Hlasovalo:</th>
                    <td>{{ article.pocet_hlasujicich }}</td>
                </tr>
            </table>
            <p class="synopsis">{{ article.anotace }}</p>
        </header>

        <div class="content">
            {{ article.text|render_html|safe }}
        </div>
        <footer>
            
        </footer>
    </article>

</div>
{% endblock %}