{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load pages %}


{% block content %}
<div id="page-common-article">
    <h1 class="page-heading text-red">{{ heading }}</h1>
    {% if user.is_authenticated and concept %}
        <p><a href="{% url 'ddcz:creative-page-concept' creative_page_slug %}">{{ concept }}</a></p>
    {% endif %}

    {% pagination articles %}
    <ul class="article-list">
    {% for a in articles %}
        <li class="creation-detail">
            <h2><a download href="{% url 'ddcz:download-file' download_id=a.id %}">{{ a.name }}</a>{% creation_rating a.rating skin %}</h2>

            <div class="table-like">
                <p><span class="label">Stáhnuto:</span> <span class="value">{{ a.download_counter }}</span></p>
                <p><span class="label">Formát:</span> <span class="value">{{ a.format }}</span></p>
                <p><span class="label">Autor:</span> <span class="value">{% author_display a %}</span></p>

                <p><span class="label">Velikost:</span> <span class="value">{{ a.size }}&nbsp;bytů</span></p>
                <div class="description-row"><span class="label">Popis:</span> <div class="value">{{ a.description|render_html_insecurely|safe }}</div></div>
                <p><span class="label">Přidáno:</span> <span class="value"><time datetime="{{ a.published | date:"c" }}">{{ a.published | articleTime }}</time></span></p>
                <p><span class="label">Hlasovalo:</span> <span class="value">{{ a.rater_no }}</span></p>
                <!--
                <p><span class="label">Příspěvků k článku:</span> <span class="value">TODO</span></p>
                -->
            </div>
        </li>
    {% endfor %}
    </ul>
    {% pagination articles %}
</div>
{% endblock %}
