{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load comments %}

{% block content %}
<div id="page-article-detail">
    <h1 class="page-heading">{{ heading }}</h1>
    <article>
        <header>
            <h2><a download href="{% url 'ddcz:download-file' download_id=article.id %}">{{ article.name }}</a>{% creation_rating a.rating skin %}</h2>
            <table>
                <tr>
                    <th>Autor:</th>
                    <td>{% author_display article %}</td>
                </tr>
                <tr>
                    <th>Přidáno:</th>
                    <td><time datetime="{{ article.published | date:"c" }}">{{ article.published | articleTime }}</time></td>
                </tr>
                <tr>
                    <th>Hlasovalo:</th>
                    <td>{{ article.rater_no }}</td>
                </tr>
                <tr>
                    <th>Popis:</th>
                    <td>{{ article.description|render_html_insecurely|safe }}</td>
                </tr>
            </table>
        </header>

        {% if user.is_authenticated %}
            {% creation_votes creative_page_slug article.pk  %}
        {% endif %}
        {% creation_comments creative_page_slug article.pk %}

    </article>


</div>
{% endblock %}
