{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load pages %}


{% block content %}
<div id="page-common-article">
    <h1 class="page-heading text-red">{{ heading }}</h1>
    {% if user.is_authenticated and concept %}
        <p><a href="{% url 'ddcz:creative-page-concept' creative_page_slug %}">{{ concept }}</a></p>
    {% endif %}

    {% pagination articles %}
    <div>
        <ul class="article-list gallery-list">
        {% for a in articles %}
            <li class="creation-detail gallery-item">
                <h2><a href="{% url 'ddcz:creation-detail' creative_page_slug=creative_page_slug creation_id=a.id creation_slug=a.get_slug %}">{{ a.name }}</a></h2>
                <div class="table-like">
                    <p><span class="label">Autor:</span> <span class="value">{% author_display a %}</span></p>
                    <p>
                        <a href="{% url 'ddcz:creation-detail' creative_page_slug=creative_page_slug creation_id=a.id creation_slug=a.get_slug %}">
                            <img src="{{ a.get_thumbnail_url }}" alt="Náhled obrázku {{ a.name }}" loading="lazy" decoding="async">
                        </a>
                    </p>
                    <!--
                    <p><span class="label">Přidáno:</span> <span class="value"><time datetime="{{ a.published | date:"c" }}">{{ a.published | articleTime}}</time></span></p>
                    <p><span class="label">Příspěvků k článku:</span> <span class="value">TODO</span></p>
                    -->
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% pagination articles %}

</div>
{% endblock %}
