{% extends 'public.html' %}
{% load creations %}
{% load html %}
{% block content %}
<div id="page-article-detail">
    <h1 class="page-heading">{{ heading }}</h1>
    <p>Zde si můžete vyžádat seznam příspěvků ke kontrole. Významně zatěžuje server, prosím čiňte tak jen jednou za čas. Požadavek může vytimeoutovat. Díky za váš čas a ochotu!</p>
    <form action="." method="POST">
        {% csrf_token %}
        <input type="submit" value="Zobraz aktuálně rozbité příspěvky">
    </form>
</div>
{% endblock %}