{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load pages %}


{% block content %}
<div>
    <h1 class="page-heading">{{ heading }}</h1>
    {% if user.is_authenticated and concept %}
        <p><a href="{% url 'ddcz:creative-page-concept' creative_page_slug %}">{{ concept }}</a></p>
    {% endif %}

    {% if user.is_authenticated %}
        <p>Patříte-li mezi starostlivé skřítky, <a href="{% url 'ddcz:creative_page_html_check' creative_page_slug %}">podívejte se na příspěvky, které potřebují opravit text</a>.</p>
    {% endif %}

    {% pagination articles %}

    <ul class="article-list">
    {% for a in articles %}
        <li class="creation-detail">
            <h2><a href="{% url 'ddcz:creation-detail' creative_page_slug=creative_page_slug creation_id=a.id creation_slug=a.get_slug %}">{{ a.jmeno }}</a>{% creation_rating a.pochvez skin %}</h2>
            <div class="table-like">
                <p><span class="label">Skupina:</span> <span class="value">{{ a.skupina }}</span></p>
                {% if a.uc %}
                    <p><span class="label">Síla zbraně:</span> <span class="value">{{ a.uc }}</span></p>
                {% endif %}
                {% if a.kz %}
                    <p><span class="label">Kvalita zbroje:</span> <span class="value">{{ a.kz }}</span></p>
                {% endif %}
                {% if a.delka %}
                    <p><span class="label">Délka:</span> <span class="value">{{ a.delka }}</span></p>
                {% endif %}
                {% if a.cena %}
                    <p><span class="label">Cena:</span> <span class="value">{{ a.cena }}</span></p>
                {% endif %}
                {% if a.malydostrel %}
                    <p><span class="label">Malý dostřel:</span> <span class="value">{{ a.malydostrel }}</span></p>
                {% endif %}
                {% if a.strednidostrel %}
                    <p><span class="label">Střední dostřel:</span> <span class="value">{{ a.strednidostrel }}</span></p>
                {% endif %}
                {% if a.velkydostrel %}
                    <p><span class="label">Velký dostřel:</span> <span class="value">{{ a.velkydostrel }}</span></p>
                {% endif %}
                {% if a.sfera %}
                    <p><span class="label">Sféra:</span> <span class="value">{{ a.sfera }}</span></p>
                {% endif %}
                {% if a.vaha %}
                    <p><span class="label">Váha:</span> <span class="value">{{ a.vaha }}&nbsp;mn</span></p>
                {% endif %}


                <div class="description-row"><span class="label">Popis:</span> <div class="value">{{ a.popis|render_html_insecurely|safe }}</div></div>

                <p><span class="label">Přidáno:</span> <span class="value"><time datetime={{ a.datum | date:"r"  }}>{{ a.datum | articleTime}}</time></span></p>
                <p><span class="label">Přečteno:</span> <span class="value">{{ a.precteno }}</span></p>
                <p><span class="label">Hlasovalo:</span> <span class="value">{{ a.pocet_hlasujicich }}</span></p>

                <p><span class="label">Autor:</span> <span class="value">{% author_display a %}</span></p>
                <!--
                <p><span class="label">Příspěvků k článku:</span> <span class="value">TODO</span></p>
                -->
            </div>
        </li>
    {% endfor %}
    </ul>

    {% pagination articles %}

</div>
{% endblock %}