{% load html %}
{% load creations %}
{% load pages %}

<table class="list_default">
    <tr>
        <th>Název</th>
        <th>Hodnocení</th>
        <th>Hlasujících</th>
        <th>Autor</th>
        <th>Skupina</th>
        <th>Zveřejněno</th>
    </tr>
    {% for a in articles %}
    <tr>
        <td><a href="{% url 'ddcz:creation-detail' creative_page_slug=creative_page_slug creation_id=a.id creation_slug=a.get_slug %}">{{ a.name }}</a></td>
        <td>{% creation_rating a.rating skin %}</td>
        <td>{{ a.rater_no }}</td>
        <td>{% author_display a %}</td>
        <td>{{ a.group }}</td>
        <td>{{ a.published | articleTime }}</td>        
    </tr>
    {% endfor %}
</table>

