{% extends 'public.html' %}
{% load html %}
{% load comments %}
{% load creations %}
{% block content %}
<div id="page-article-detail">
    <h1 class="page-heading">{{ heading }}</h1>
    <article>
        <header>
            <h2>{{ article.name }}{% creation_rating article.rating skin %}</h2>
            <!-- TODO
            <p>Příprava pro tisk</p>
            -->
            <table>
                <tr>
                    <th>Autor:</th>
                    <td>{% author_display article %}</td>
                </tr>
                <tr>
                    <th>Přidáno:</th>
                    <td><time datetime="{{ article.published | date:"c" }}">{{ article.published | articleTime }}</time></td>
                </tr>
                <tr>
                    <th>Hlasovalo:</th>
                    <td>{{ article.rater_no }}</td>
                </tr>
            </table>

            <p><span class="label">Skupina:</span> <span class="value">{{ article.group }}</span></p>
            {% if article.hitpoint_class %}
                <p><span class="label">Životaschopnost:</span> <span class="value">{{ article.hitpoint_class }}</span></p>
            {% endif %}
            {% if article.attack %}
                <p><span class="label">Útočné číslo:</span> <span class="value">{{ article.attack }}</span></p>
            {% endif %}
            {% if article.defense %}
                <p><span class="label">Obranné číslo:</span> <span class="value">{{ article.defense }}</span></p>
            {% endif %}
            {% if article.fortitude %}
                <p><span class="label">Odolnost:</span> <span class="value">{{ article.fortitude }}</span></p>
            {% endif %}
            {% if article.intelligence %}
                <p><span class="label">Inteligence:</span> <span class="value">{{ article.intelligence }}</span></p>
            {% endif %}
            {% if article.size %}
                <p><span class="label">Velikost:</span> <span class="value">{{ article.size }}</span></p>
            {% endif %}
            {% if article.vulnerability %}
                <p><span class="label">Zranitelnost:</span> <span class="value">{{ article.vulnerability }}</span></p>
            {% endif %}
            {% if article.agility %}
                <p><span class="label">Pohyblivost:</span> <span class="value">{{ article.agility }}</span></p>
            {% endif %}
            {% if article.alignment %}
                <p><span class="label">Přesvědčení:</span> <span class="value">{{ article.alignment }}</span></p>
            {% endif %}
            {% if article.treasures %}
                <p><span class="label">Poklady:</span> <span class="value">{{ article.treasures }}</span></p>
            {% endif %}
            {% if article.experience %}
                <p><span class="label">Zkušenost:</span> <span class="value">{{ article.experience }}</span></p>
            {% endif %}
            {% if article.combativeness %}
                <p><span class="label">Bojovnost:</span> <span class="value">{{ article.combativeness }}</span></p>
            {% endif %}
            {% if article.mental_strength %}
                <p><span class="label">Síla mysli:</span> <span class="value">{{ article.mental_strength }}</span></p>
            {% endif %}

            <p><span class="label">Popis:</span> <div class="value">{{ article.description|render_html_insecurely|safe }}</div></p>

            <p><span class="label">Přidáno:</span> <span class="value"><time datetime="{{ article.published | date:"c" }}">{{ article.published | articleTime }}</time></span></p>
            <p><span class="label">Přečteno:</span> <span class="value">{{ article.read }}</span></p>
            <p><span class="label">Hlasovalo:</span> <span class="value">{{ article.rater_no }}</span></p>

            <p><span class="label">author_nick:</span> <span class="value"><a href="#" class="author" rel="author">{{ article.author_nick }}</a></span></p>


        </header>

        <div class="content">
            {{ article.text|render_html|safe }}
        </div>
        <footer>

        </footer>
        {% if user.is_authenticated %}
            {% creation_votes creative_page_slug article.pk  %}
        {% endif %}
        {% creation_comments creative_page_slug article.pk %}

    </article>

</div>
{% endblock %}
