{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load pages %}


{% block content %}
<div>
    <h1 class="page-heading">{{ heading }}</h1>
    {% if user.is_authenticated and concept %}
        <p><a href="{% url 'ddcz:creative-page-concept' creative_page_slug %}">{{ concept }}</a></p>
    {% endif %}

    {% if user.is_authenticated %}
        <p>Patříte-li mezi starostlivé skřítky, <a href="{% url 'ddcz:creative_page_html_check' creative_page_slug %}">podívejte se na příspěvky, které potřebují opravit text</a>.</p>
    {% endif %}

    {% pagination articles %}

    <ul class="article-list">
    {% for a in articles %}
        <li class="creation-detail">
            <h2><a href="{% url 'ddcz:creation-detail' creative_page_slug=creative_page_slug creation_id=a.id creation_slug=a.get_slug %}">{{ a.name }}</a>{% creation_rating a.rating skin %}</h2>
            <div class="table-like">
                <p><span class="label">Skupina:</span> <span class="value">{{ a.group }}</span></p>
                {% if a.hitpoint_class %}
                    <p><span class="label">Životaschopnost:</span> <span class="value">{{ a.hitpoint_class }}</span></p>
                {% endif %}
                {% if a.attack %}
                    <p><span class="label">Útočné číslo:</span> <span class="value">{{ a.attack }}</span></p>
                {% endif %}
                {% if a.defense %}
                    <p><span class="label">Obranné číslo:</span> <span class="value">{{ a.defense }}</span></p>
                {% endif %}
                {% if a.fortitude %}
                    <p><span class="label">Odolnost:</span> <span class="value">{{ a.fortitude }}</span></p>
                {% endif %}
                {% if a.intelligence %}
                    <p><span class="label">Inteligence:</span> <span class="value">{{ a.intelligence }}</span></p>
                {% endif %}
                {% if a.size %}
                    <p><span class="label">Velikost:</span> <span class="value">{{ a.size }}</span></p>
                {% endif %}
                {% if a.vulnerability %}
                    <p><span class="label">Zranitelnost:</span> <span class="value">{{ a.vulnerability }}</span></p>
                {% endif %}
                {% if a.agility %}
                    <p><span class="label">Pohyblivost:</span> <span class="value">{{ a.agility }}</span></p>
                {% endif %}
                {% if a.alignment %}
                    <p><span class="label">Přesvědčení:</span> <span class="value">{{ a.alignment }}</span></p>
                {% endif %}
                {% if treasures.pokl %}
                    <p><span class="label">Poklady:</span> <span class="value">{{ a.treasures }}</span></p>
                {% endif %}
                {% if a.experience %}
                    <p><span class="label">Zkušenost:</span> <span class="value">{{ a.experience }}</span></p>
                {% endif %}
                {% if a.combativeness %}
                    <p><span class="label">Bojovnost:</span> <span class="value">{{ a.combativeness }}</span></p>
                {% endif %}
                {% if a.mental_strength %}
                    <p><span class="label">Síla mysli:</span> <span class="value">{{ a.mental_strength }}</span></p>
                {% endif %}

                <p><span class="label">Popis:</span> <div class="value">{{ a.description|render_html|safe }}</div></p>

                <p><span class="label">Přidáno:</span> <span class="value"><time datetime={{ a.published | date:"r"  }}>{{ a.published | articleTime }}</time></span></p>
                <p><span class="label">Přečteno:</span> <span class="value">{{ a.read }}</span></p>
                <p><span class="label">Hlasovalo:</span> <span class="value">{{ a.rater_no }}</span></p>

                <p><span class="label">author_nick:</span> <span class="value">{% author_display a %}</span></p>
                <!--
                <p><span class="label">Příspěvků k článku:</span> <span class="value">TODO</span></p>
                -->
            </div>
        </li>
    {% endfor %}
    </ul>

    {% pagination articles %}

</div>
{% endblock %}
