{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load pages %}



{% block content %}
<div id="page-common-article">
    <h1 class="page-heading">{{ heading }}</h1>
    {% if user.is_authenticated and concept %}
        <p><a href="{% url 'ddcz:creative-page-concept' creative_page_slug %}">{{ concept }}</a></p>
    {% endif %}

    {% pagination articles %}

    <ul class="article-list">
    {% for a in articles %}
        <li class="creation-detail">
            <h2><a href="{% url 'ddcz:quest-view' quest_id=a.id %}">{{ a.jmeno }}</a>{% creation_rating a.pochvez skin %}</h2>

            <div class="table-like">
                <p><span class="label">Přečteno:</span> <span class="value">{{ a.precteno }}×</span></p>
                <p><span class="label">Autor:</span> <span class="value">{% author_display a %}</span></p>

                <p><span class="label">Přidáno:</span> <span class="value"><time datetime={{ a.datum | date:"r"  }}>{{ a.datum | articleTime }}</time></span></p>
                <p><span class="label">Hlasovalo:</span> <span class="value">{{ a.pocet_hlasujicich }}</span></p>
            </div>
        </li>
    {% endfor %}
    </ul>

    {% pagination articles %}

</div>
{% endblock %}