{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load pages %}


{% block content %}
<div>
    <h1 class="page-heading">{{ heading }}</h1>
    {% if user.is_authenticated and concept %}
        <p><a href="{% url 'ddcz:creative-page-concept' creative_page_slug %}">{{ concept }}</a></p>
    {% endif %}

    {% pagination articles %}

    <ul class="article-list">
    {% for a in articles %}
        <li class="creation-detail">
            <h2><a href="{% url 'ddcz:creation-detail' creative_page_slug=creative_page_slug creation_id=a.id creation_slug=a.get_slug %}">{{ a.jmeno }}</a> <span class="wizard-summmonwords">*{{ a.kouzsl }}*</span>{% creation_rating a.pochvez skin %}</h2>
            <div class="table-like">
                <p><span class="label">Skupina:</span> <span class="value">{{ a.skupina }}</span></p>
                {% if a.mag %}
                    <p><span class="label">Magenergie:</span> <span class="value">{{ a.mag }} {{ a.magpop }}</span></p>
                {% endif %}
                {% if a.past %}
                    <p><span class="label">Past:</span> <span class="value">{{ a.past }}</span></p>
                {% endif %}
                {% if a.dosah or a.dosahpop %}
                    <p><span class="label">Dosah:</span> <span class="value">{% if a.dosah %}{{ a.dosah }} {% endif %}{{ a.dosahpop }}</span></p>
                {% endif %}
                {% if a.rozsah or a.rozsahpop %}
                    <p><span class="label">Rozsah:</span> <span class="value">{% if a.rosah %}{{ a.rozsah }} {% endif %}{{ a.rozsahpop }}</span></p>
                {% endif %}
                {% if a.vyvolani %}
                    <p><span class="label">Vyvolání:</span> <span class="value">{{ a.vyvolani }} {{ a.vyvolanipop }}</span></p>
                {% endif %}
                {% if a.trvani %}
                    <p><span class="label">Trvání:</span> <span class="value">{{ a.trvani }} {{ a.trvanipop }}</span></p>
                {% endif %}

                <div class="description-row"><span class="label">Popis:</span> <div class="value">{{ a.popis|render_html_insecurely|safe }}</div></div>

                <p><span class="label">Přidáno:</span> <span class="value"><time datetime={{ a.datum | date:"r"  }}>{{ a.datum | articleTime }}</time></span></p>
                <p><span class="label">Přečteno:</span> <span class="value">{{ a.precteno }}</span></p>
                <p><span class="label">Hlasovalo:</span> <span class="value">{{ a.pocet_hlasujicich }}</span></p>

                <p><span class="label">Autor:</span> <span class="value">{% author_display a %}</span></p>
                <!--
                <p><span class="label">Příspěvků k článku:</span> <span class="value">TODO</span></p>
                -->
            </div>
        </li>
    {% endfor %}
    </ul>

    {% pagination articles %}

</div>
{% endblock %}