{% extends 'public.html' %}
{% load creations %}
{% load html %}
{% block content %}
<div id="page-article-detail">
    <h1 class="page-heading">{{ heading }}</h1>
    <article>
        <header>
            <h2>{{ article.jmeno }} <span class="wizard-summmonwords">*{{ article.kouzsl }}*</span>{% creation_rating article.pochvez skin %}</h2>
            <!-- TODO
            <p>Příprava pro tisk</p>
            -->
            <table>
                <tr>
                    <th>Autor:</th>
                    <td>{% author_display article %}</td>
                </tr>
                <tr>
                    <th>Přidáno:</th>
                    <td><time datetime={{ article.datum | date:"r"  }}>{{ article.datum | date:"j. n. Y v H:i:s" }}</time></td>
                </tr>
                <tr>
                    <th>Hlasovalo:</th>
                    <td>{{ article.pocet_hlasujicich }}</td>
                </tr>
            </table>

            <p><span class="label">Skupina:</span> <span class="value">{{ article.skupina }}</span></p>
                {% if article.mag %}
                    <p><span class="label">Magenergie:</span> <span class="value">{{ article.mag }} {{ article.magpop }}</span></p>
                {% endif %}
                {% if article.past %}
                    <p><span class="label">Past:</span> <span class="value">{{ article.past }}</span></p>
                {% endif %}
                {% if article.dosah or article.dosahpop %}
                    <p><span class="label">Dosah:</span> <span class="value">{% if article.dosah %}{{ article.dosah }} {% endif %}{{ article.dosahpop }}</span></p>
                {% endif %}
                {% if article.rozsah or article.rozsahpop %}
                    <p><span class="label">Rozsah:</span> <span class="value">{% if article.rosah %}{{ article.rozsah }} {% endif %}{{ article.rozsahpop }}</span></p>
                {% endif %}
                {% if article.vyvolani %}
                    <p><span class="label">Vyvolání:</span> <span class="value">{{ article.vyvolani }} {{ article.vyvolanipop }}</span></p>
                {% endif %}
                {% if article.trvani %}
                    <p><span class="label">Trvání:</span> <span class="value">{{ article.trvani }} {{ article.trvanipop }}</span></p>
                {% endif %}


            <p><span class="label">Popis:</span> <div class="value">{{ article.popis|render_html_insecurely|safe }}</div></p>

            <p><span class="label">Přidáno:</span> <span class="value"><time datetime={{ article.datum | date:"r"  }}>{{ article.datum | date:"j. n. Y v H:i:s" }}</time></span></p>
            <p><span class="label">Přečteno:</span> <span class="value">{{ article.precteno }}</span></p>
            <p><span class="label">Hlasovalo:</span> <span class="value">{{ article.pocet_hlasujicich }}</span></p>

            <p><span class="label">Autor:</span> <span class="value"><a href="#" class="author" rel="author">{{ article.autor }}</a></span></p>


        </header>

        <div class="content">
            {{ article.text|render_html|safe }}
        </div>
        <footer>
            
        </footer>
    </article>

</div>
{% endblock %}