{% extends 'public.html' %}
{% load comments %}
{% load creations %}
{% load html %}
{% block content %}
<div id="page-article-detail">
    <h1 class="page-heading">{{ heading }}</h1>
    <article>
        <header>
            <h2>{{ article.name }} <span class="wizard-summmonwords">*{{ article.summon_words }}*</span>{% creation_rating article.rating skin %}</h2>
            <!-- TODO
            <p>Příprava pro tisk</p>
            -->
            <table>
                <tr>
                    <th>Autor:</th>
                    <td>{% author_display article %}</td>
                </tr>
                <tr>
                    <th>Přidáno:</th>
                    <td><time datetime="{{ article.published | date:"c" }}">{{ article.published | articleTime }}</time></td>
                </tr>
                <tr>
                    <th>Hlasovalo:</th>
                    <td>{{ article.rater_no }}</td>
                </tr>
            </table>

            <p><span class="label">Skupina:</span> <span class="value">{{ article.group }}</span></p>
                {% if article.mag %}
                    <p><span class="label">Magenergie:</span> <span class="value">{{ article.mag }} {{ article.magpop }}</span></p>
                {% endif %}
                {% if article.skill_check %}
                    <p><span class="label">Past:</span> <span class="value">{{ article.skill_check }}</span></p>
                {% endif %}
                {% if article.extent or article.extent_description %}
                    <p><span class="label">Dosah:</span> <span class="value">{% if article.extent %}{{ article.extent }} {% endif %}{%  if article.article.extent_description %}{{ article.extent_description }}{% endif %}</span></p>
                {% endif %}
                {% if article.reach or article.reach_description %}
                    <p><span class="label">Rozsah:</span> <span class="value">{% if article.reach %}{{ article.reach }} {% endif %}{%  if article.article.reach_description %}{{ article.reach_description }}{% endif %}</span></p>
                {% endif %}
                {% if article.invocation %}
                    <p><span class="label">Vyvolání:</span> <span class="value">{{ article.invocation }} {{ article.invocation_description }}</span></p>
                {% endif %}
                {% if article.duration %}
                    <p><span class="label">Trvání:</span> <span class="value">{{ article.duration }} {{ article.duration_description }}</span></p>
                {% endif %}


            <p><span class="label">Popis:</span> <div class="value">{{ article.description|render_html_insecurely|safe }}</div></p>

            <p><span class="label">Přidáno:</span> <span class="value"><time datetime="{{ article.published | date:"c" }}">{{ article.published | articleTime }}</time></span></p>
            <p><span class="label">Přečteno:</span> <span class="value">{{ article.read }}</span></p>
            <p><span class="label">Hlasovalo:</span> <span class="value">{{ article.rater_no }}</span></p>

        </header>

        <div class="content">
            {{ article.text|render_html|safe }}
        </div>
        <footer>

        </footer>
        {% if user.is_authenticated %}
            {% creation_votes creative_page_slug article.pk  %}
        {% endif %}
        {% creation_comments creative_page_slug article.pk %}
    </article>

</div>
{% endblock %}
