{% extends 'public.html' %}
{% load html %}
{% load pages %}
{% load tavern %}

{% block content %}
<div id="page-tavern">
    <h1 class="text-blue page-heading">Putyka</h1>
    <p>Putyka je místo našeho setkávání. Přisedni k jednomu ze stolů a bav se s ostatními!</p>
    <p>
        {% for slug, name in supported_list_styles.items %}
            <a
                href="{% url 'ddcz:tavern-list' %}?vypis={{ slug }}"
                {% if slug == current_list_style %} class="link link--selected"{% endif %}
                data-list-style="{{ slug }}"
            >[{{ name }}]</a>&nbsp;
        {% endfor %}
    </p>
    <table class="tavern-table-list">
        <tr>
            <th>Stůl</th>
            <th>Popis stolu</th>
            <th>Vlastník</th>
        </tr>

    {% for listing_table in tavern_tables %}
        <tr>
            <td>{% tavern_table_name listing_table ddcz_profile %}</td>
            <td>{{ listing_table.description }}</td>
            <td>{{ listing_table.owner }}</td>
        </tr>
    {% endfor %}
    </table>

</div>
{% endblock %}
