{% extends 'public.html' %}
{% load html %}
{% load pages %}

{% block content %}
<div id="page-tavern-detail">
    <h1 class="text-blue page-heading">Putyka</h1>
    <h2>{{ table.name }}</h2>
    <header>
        <p>by {{ table.owner }}</p>
        <p>{{ table.description }}</p>
        <p>ID stolu: {{ table.id }}</p>
        <nav id="tavern_table_menu">
            <ul>
                <li>Oblíbit</li>
                <li>Admin</li>
                <li>Vymaž</li>
                <li>Ankety</li>
                <li>Nástěnka</li>
                <li>Statistiky</li>
            </ul>
        </nav>
        <!-- TODO: Udělat příbuzné stoly -->
    </header>

    {% block taverntablecontent %}{% endblock %}
</div>
{% endblock %}
