{% extends 'public.html' %}
{% load html %}
{% load pages %}

{% block content %}
    <div id="page-tavern-detail">
    <h1 class="text-blue page-heading">Putyka</h1>
    <h2>{{ table.name | render_html | safe }}</h2>
    <header>
        <p>by {{ table.owner }}</p>
        <p>{{ table.description }}</p>
        <p>ID stolu: {{ table.id }}</p>
        <nav id="tavern_table_menu">
            <ul>
                <li><a href="{% url "ddcz:tavern-posts" tavern_table_id=table.id %}">Stůl</a></li>
                <li>
                    {% if table.is_bookmarked %}
                        <a href="{% url "ddcz:tavern-bookmark" tavern_table_id=table.id %}?akce=neoblibit">Zrušit oblíbenost</a>
                    {% else %}
                        <a href="{% url "ddcz:tavern-bookmark" tavern_table_id=table.id %}?akce=oblibit">Oblíbit</a>
                    {% endif %}
                </li>
                {% if table.user_can_admin %}
                    <li><a href="{% url "ddcz:tavern-table-admin" tavern_table_id=table.id %}">Admin</a></li>
                {% endif %}
                <li><a href="{% url "ddcz:tavern-notice-board" tavern_table_id=table.id %}">Nástěnka</a></li>
            </ul>
        </nav>
        <!-- TODO: Udělat příbuzné stoly -->
    </header>

    {% block taverntablecontent %}{% endblock %}
</div>
{% endblock %}
