<nav class="right_menu">
    <ul class="nav_border">
        <li><span class="list_heading">Vzhled</span>
            <ul class="list_box">
                <li>Family Silver</li>
                <li><a href="{% url 'ddcz:change-skin' %}?skin=historic&redirect={{ current_page_url }}">Historic</a>
                </li>
                <li><a href="{% url 'ddcz:change-skin' %}?skin=light&redirect={{ current_page_url }}">Light</a></li>
                <li><a href="{% url 'ddcz:change-skin' %}?skin=dark&redirect={{ current_page_url }}">Dark</a></li>
                <li>Timmothy Gold</li>
            </ul>
        </li>
    </ul>
    <ul class="nav_border">
        <li><span class="list_heading">Novinky</span>
            <ul class="list_box">
                <li><a href="{% url 'ddcz:news' %}">Aktuality</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav_border">
        <li><span class="list_heading">Komunikace</span>
            <ul class="list_box">
                <li>Chat</li>
                <li><a href="http://www.dracidoupe.cz/moudrasova/">Moudrá Sova</a></li>
                <li><a href="{% url 'ddcz:phorum-list' %}">Fórum</a></li>
                <li>Ankety</li>
            </ul>
        </li>
    </ul>
    <ul class="nav_border">
        <li><span class="list_heading">Control</span>
            <div class="list_box">
                {% if user.is_authenticated %}
                <div class="nick">{{ user.username }}</div>
                <div class="state">online</div>
                {% if user.profile.icon_url %}
                <p class="user_icon"><img src="{{ user.profile.icon_url }}" alt="Ikonka uživatele"></p>
                {% endif %}
                <p class="stats">
                    Hlasů: {{ user.profile.reputace_rozdel }} <br>
                    Reputace: {{ user.profile.reputace }}
                </p>
                <p class="admin_link"><a href="{{ user.profile.profile_url }}">Statistiky</a>
                    {% if user.is_staff %}
                    <a href="{% url 'dragon:dashboard' %}">Správa</a>
                    {% endif %}
                </p>
                <form method="post" action="{% url 'ddcz:logout-action' %}">
                    {% csrf_token %}
                    <input type="submit" value="Odhlaš">
                </form>
                {% else %}
                <p>Registrace</p>
                <form method="post" action="{% url 'ddcz:login-action' %}">
                    {% csrf_token %}
                    {{ login_form }}
                    <input type="submit" value="Přihlásit">
                </form>
                <p><a href="{% url 'ddcz:password-reset' %}">Zapomněl jsem heslo</a></p>
                {% endif %}
            </div>
        </li>
    </ul>
    <ul class="nav_border">
        <li><span class="list_heading">Doupě jinde</span>
            <ul class="list_box">
                <li><a href="https://discord.gg/U6TEhAKV">Discord</a></li>
                <li><a href="https://www.facebook.com/DraciDoupecz-47586881642/">Facebook</a></li>
            </ul>
        </li>
    </ul>
</nav>