<nav id="right_menu">
    {% if user.is_authenticated %}
        <ul class="nav_border">
            <li><span class="list_heading">Vzhled</span>
                <ul class="list_box">
                    <li><a href="{% url 'ddcz:change-skin' %}?skin=historic&redirect={{ current_page_url }}">NeoHistoric</a>
                    </li>
                    <li><a href="{% url 'ddcz:change-skin' %}?skin=light&redirect={{ current_page_url }}">Light</a></li>
                    <li><a href="{% url 'ddcz:change-skin' %}?skin=dark&redirect={{ current_page_url }}">Dark</a></li>
                </ul>
            </li>
        </ul>
    {% endif %}
    <ul class="nav_border">
        <li><span class="list_heading">Novinky</span>
            <ul class="list_box">
                <li><a href="{% url 'ddcz:news' %}">Aktuality</a></li>
                <li><a href="{% url 'ddcz:newsfeed' %}">Novinky</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'ddcz:tavern-posts' tavern_table_id=bugfix_tavern_table_id %}">Bugfix</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
    <ul class="nav_border">
        <li><span class="list_heading">Komunikace</span>
            <ul class="list_box">
                <li>Chat</li>
                <li><a href="http://www.dracidoupe.cz/moudrasova/">Moudrá Sova</a></li>
                <li><a href="{% url 'ddcz:phorum-list' %}" id="ddcz_nav_phorum">Fórum</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'ddcz:tavern-list' %}" id="ddcz_nav_tavern">Putyka</a></li>
                {% endif %}

                <li>Ankety</li>
            </ul>
        </li>
    </ul>
    <ul class="nav_border">
        <li><span class="list_heading">Control</span>
            <div class="list_box" id="ddcz_control">
                {% if user.is_authenticated %}
                <div class="nick" id="ddcz_nick">{{ user.username }}</div>
                <div class="state">online</div>
                {% if ddcz_profile.icon_url %}
                <p class="user_icon"><img src="{{ ddcz_profile.icon_url }}" alt="Ikonka uživatele"></p>
                {% endif %}
                <p class="stats">
                    Hlasů: {{ ddcz_profile.reputace_rozdel }} <br>
                    Reputace: {{ ddcz_profile.reputace }}
                </p>
                <p class="admin_link"><a href="{{ ddcz_profile.profile_url }}">Statistiky</a>
                    {% if user.is_staff %}
                    <a href="{% url 'dragon:dashboard' %}">Správa</a>
                    {% endif %}
                </p>
                <form method="post" action="{% url 'ddcz:logout-action' %}">
                    {% csrf_token %}
                    <input type="submit" value="Odhlaš" id="logout_submit">
                </form>
                {% else %}
                <p><a href="{% url 'ddcz:sign-up' %}">Registrace</a></p>
                <form method="post" action="{% url 'ddcz:login-action' %}">
                    {% csrf_token %}
                    {{ login_form }}
                    <input type="submit" value="Přihlásit" id="login_submit">
                </form>
                <p><a href="{% url 'ddcz:password-reset' %}">Zapomněl jsem heslo</a></p>
                {% endif %}
            </div>
        </li>
    </ul>
    <ul class="nav_border">
        <li><span class="list_heading">Doupě jinde</span>
            <ul class="list_box">
                <li><a href="{{ discord_invite_link }}">Discord</a></li>
                <li><a href="https://www.facebook.com/DraciDoupecz-47586881642/">Facebook</a></li>
            </ul>
        </li>
    </ul>
</nav>
