
/* Creative Pages list */

.pagination {
    width: 100%;
    clear: both;
}

.pagination > .next {
    float: left;
}

.pagination > .previous {
    float: right;
}

.article-list li.creation-detail {
    list-style: none;
  }
  
.article-list {
    clear: both;
}

/* Creative Pages details */

article header .label {
    font-weight: bold;
}

#page-article-detail th {
    text-align: left;
}

/* User profile */

span.label {
    font-weight: bold;
}


/* Styling for main section of creations */

.creation-detail {
    margin-top: 5%;
}

.rating-stars img {
    letter-spacing: 0px;
    transform: scale(1.5);
}

.table-like {
    display: table;
    width: 100%;
    border-spacing: 0px 0.3em;
}

.table-like .label {
    font-weight: bold;
    width: 25%;
}

.table-like .label, .table-like .value {
    display: table-cell;
}

.table-like > p, .table-like .description-row {
    display: table-row;
}



/* (Photo)Gallery */

/* Fieldset-like styling taken from https://stackoverflow.com/a/2213946 */
/* Copyright Mathias Bynens, licensed under CC BY-SA 3.0 https://creativecommons.org/licenses/by-sa/3.0/ */

.gallery-item {
    float: left;
    border: 2px groove threedface;
    border-top: none;
    padding: 0.5em;
    margin: 1em 2px;
}

.gallery-item > h2 {
    margin: -1em -0.5em 0;
    font: 1em normal;
}

.gallery-item > h2 > a {
    float: left;
}

.gallery-item > h2:before {
    border-top: 2px groove threedface;
    content: ' ';
    float: left;
    margin: 0.5em 2px 0 -1px;
    width: 0.75em;
}
.gallery-item > h2:after {
    border-top: 2px groove threedface;
    content: ' ';
    display: block;
    height: 1.5em;
    left: 2px;
    margin: 0 1px 0 0;
    overflow: hidden;
    position: relative;
    top: 0.5em;
}

/* Styling for Wizard Spells */

span.wizard-summmonwords {
    font-size: 1rem;
    font-weight: normal;
}


/* Styling for dating section */

article.dating {
    display: table;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%; 
    border-spacing: 1em;
}

article.dating address {
    font-weight: normal;
}

article.dating p {
    display: table-row;
}

article.dating span.label {
    font-weight: bold;
    width: 20%;
}

article.dating span.label, article.dating span.value {
    display: table-cell;
}

/* Stylink for links */

article.link {
    margin-bottom: 7%;
}

article.link header {
    margin-bottom: 1vh;
}

article.link footer {
    margin-top: 1vh;
    display: block;
    width: 100%;

}

article.link span.actuallink {
    text-align: right;
    float: right; 
}

/* Discussion */

#page-phorum > p{    
    text-indent: 1.5rem;
    font-size: .95rem
}

.phorum-anonymous-text{
    margin: 2rem auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    max-width: 60%;    
}

.comment {
    display: flex;
}

.comment__textarea{
    background-color: rgba(255, 255, 255, 0.082);
    display: flex;
    width: 90%;
    height: 13rem;
    margin: 50px auto;
    margin-bottom: 15px;

    font-size: 1.3rem;
    
}

.comment__submit{
    display: flex;
    max-width: 10rem;
    margin: 0px auto;
    padding: 0.1rem 2rem
}

.user_icon {
    width: 40px;
    order: 0;
    padding: 2px;
    flex-shrink: 0;
}

.star_level {
    width: 15px;
}

.comment_main {
    order: 1;
    flex-grow: 1;
}

.comment_header {
    display: flex;
    justify-content: space-between;
}

.comment_header time {
    display: inline-flex;
    order: 1;
}

.comment_header span.nick {
    display: inline-flex;
    order: 0;
}