
/* Styling for main section of creations */

.creation-detail {
    margin-top: 5%;
}

.creation-detail .table-like {
    display: table;
    width: 100%;
    border-spacing: 0px 0.3em;
}

.creation-detail p {
    display: table-row;
}

.creation-detail span.label {
    font-weight: bold;
    width: 25%;
}

.creation-detail span.label, .creation-detail span.value {
    display: table-cell;
}



/* Styling for dating section */

article.dating {
    display: table;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%; 
    border-spacing: 1em;
}

article.dating address {
    font-weight: normal;
}

article.dating p {
    display: table-row;
}

article.dating span.label {
    font-weight: bold;
    width: 20%;
}

article.dating span.label, article.dating span.value {
    display: table-cell;
}

