{% extends 'public.html' %}
{% load html %}
{% load pages %}
{% load comments %}
{% load users %}
{% block content %}
<div id="page-phorum">
    <h1 class="page-heading">Fórum</h1>

<p>Fórum slouží především pro informace masového charakteru a informace obecně 
zajímavé, zvláště ty, co se nedají moc rozumně umístit jinam. 
Např. pozdravy z Conů, oznamení o významných novinkách na tematicky příbuzných 
serverech, informace o akcích komunitního charakteru (Jdeme s Pepou do kina na 
Narnii, chcete taky?) atp. Toto fórum slouží i jako guestbook.<br />Nachází se zde 
také rozcestník k několika nejzákladnějším stolům, které by měly Fóru ulehčit, 
a proto je prosím používejte, stejně jako mnoho dalších v Putyce 
(nikdo vám hlavu neutrhne, když tak neučiníte, ale tady vaše oznámení rychleji 
zapadne).<br /> Za obsah příspěvku ručí autor, nikoli vlastník serveru nebo redakce 
DraciDoupe.cz. Toto ovšem neznamená, že nevhodné (např. vulgární) příspěvky 
nebudou bez diskuse mazány, byť mazat se bude jen v nejnutnějších případech.<br />
<b>Mějte na paměti, že Fórum je viditelné pro kohokoliv &mdash; je to naše vizitka.</b></p>

    {% pagination discussions %}
    <section class="article-list">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'ddcz:phorum-list' %}">
            {% csrf_token %}
            {{ phorumCommentaryForm }}
            <input type="submit" name="addPhorumComment" value="Přidej" class="Comment--Submit">
        </form>
        {% endif %}
    {% for comment in discussions %}
        <section class="comment">
            <picture class="user_icon"></picture>
            <comment class="comment_main">
                <div class="comment_header">
                    {% if comment.by_registered_user %}<span class="nick"><a href="{{ comment.user_profile_url }}" rel="author">{{ comment.nickname }}</a>&nbsp;{% level_star comment.user skin %}</span>
                    {% else %}<span class="nick">{{ comment.nickname }}</span>{% endif %}
                    <time datetime={{ comment.datum | date:"r"  }}>{{ comment.datum | commentTime }}</time>
                </div>
                <p class="comment_text">{{ comment.text|render_html|safe }}</p>
            </comment>
        </section>
    {% endfor %}
    </section>
    {% pagination discussions %}
</div>
{% endblock %}