{% extends 'public.html' %}
{% load html %}
{% load pages %}
{% load comments %}
{% load users %}
{% block content %}
<div id="page-phorum">
    <h1 class="page-heading">Fórum</h1>

    <p class="annotation">
        Fórum slouží především pro informace masového charakteru a informace obecně
        zajímavé, zvláště ty, co se nedají moc rozumně umístit jinam.
        Např. pozdravy z Conů, oznamení o významných novinkách na tematicky příbuzných
        serverech, informace o akcích komunitního charakteru (Jdeme s Pepou do kina na
        Narnii, chcete taky?) atp. Toto fórum slouží i jako guestbook.
    </p>
    <p>
        Nachází se zde
        také rozcestník k několika nejzákladnějším stolům, které by měly Fóru ulehčit,
        a proto je prosím používejte, stejně jako mnoho dalších v Putyce
        (nikdo vám hlavu neutrhne, když tak neučiníte, ale tady vaše oznámení rychleji
        zapadne).
    </p>
    <p>
        Za obsah příspěvku ručí autor, nikoli vlastník serveru nebo redakce
        DraciDoupe.cz. Toto ovšem neznamená, že nevhodné (např. vulgární) příspěvky
        nebudou bez diskuse mazány, byť mazat se bude jen v nejnutnějších případech.
    </p>


    {% if user.is_authenticated %}
        <p>
            <b>Mějte na paměti, že Fórum je viditelné pro kohokoliv &mdash; je to naše vizitka.</b>
        </p>
        <form method="post" action="{% url 'ddcz:phorum-list' %}">
            {% csrf_token %}
            {{ phorum_comment_form.as_p }}
            <input type="submit" name="submit" value="Přidej" class="comment__submit">
        </form>
    {% else %}
        <p class="phorum-anonymous-text">
            Omlouváme se, ale anonymní přispívání bylo zrušeno kvůli některým bezohledným spammerům. Děkujeme za pochopení.
        </p>
    {% endif %}

    {% pagination discussions %}
    <section class="article-list">
    {% for comment in discussions %}
        <article class="comment">
            <picture class="user_icon">
                {% if comment.by_registered_user %}
                    {% if ddcz_profile.icon_url %}
                        <p class="user_icon"><img src="{{ ddcz_profile.icon_url }}" alt="Ikonka uživatele {{ comment.nickname }}"></p>
                    {% endif %}
                {% endif %}
            </picture>
            <comment class="comment_main">
                <div class="comment_header">
                    {% if comment.by_registered_user %}
                        <span class="nick">
                            <a href="{{ comment.user_profile_url }}" rel="author">{{ comment.nickname }}</a>&nbsp;{% level_star comment.user skin %}
                        </span>
                    {% else %}
                        <span class="nick">{{ comment.nickname }}</span>
                    {% endif %}
                    {% if user.is_authenticated and comment.nickname == ddcz_profile.nick %}
                        <form action="{% url 'ddcz:phorum-list' %}" method="post">
                            {% csrf_token %}
                            {{ delete_form.post_type }}
                            <input type="hidden" name="post_id" value="{{ comment.id }}">
                            <input type="submit" name="submit" value="Smazat" class="phorum-delete">
                        </form>
                    {% endif %}
                    <time datetime={{ comment.date | date:"r"  }}>{{ comment.date | commentTime }}</time>
                </div>
                <p class="comment_text">{{ comment.text|render_html|safe }}</p>
            </comment>
        </article>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    </section>
    {% pagination discussions %}
</div>
{% endblock %}
