name: integration-tests
on: [pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build docker images
        run: docker compose -f docker-compose.server_ci.yml build --pull && docker compose -f docker-compose.server_ci.yml up --no-start
      - name: Start PostgreSQL
        run: docker compose -f docker-compose.server_ci.yml start db
      - name: Wait for PostgreSQL to be ready
        run: sleep 10
      - name: run tests
        run: docker compose -f docker-compose.server_ci.yml run --rm web python3 manage.py test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          cache: 'pip'
          cache-dependency-path: '**/requirements*.txt'
      - name: Install ruff
        run: pip install ruff
      - name: Ruff Check Linhting
        run: ruff check --output-format=github .
      - name: Ruff Format Check
        run: ruff format --check
