{% extends 'public.html' %}
{% load html %}
{% load creations %}
{% load pages %}
{% load dating %}

{% block content %}

<div id="page-dating">
    <h1 class="page-heading">Seznamka</h1>
    <p>Seznamka slouží k seznamování hráčů a PJů. Pokud chcete něco prodat, nebo něco sháníte vkládejte inzeráty do <a href="{% url 'ddcz:market' %}">inzerce</a>.</p>
    {% pagination items %}
    {% for i in items %}
        <article class="dating">
            <p>
                <span class="label">Jméno:</span>{% if i.email %}
                    <span class="value"><a href="mailto:{{ i.email }}">{{ i.name }}</a></span>
                {% else %}
                    <span class="value">{{ i.name }}</span>
                {% endif %}
            </p>
            <p>
                <span class="label">Sekce:</span><span class="value">{{ i.group | dating_group_map }}</span>
            </p>
            <p>
                <span class="label">Okres:</span><span class="value">{{ i.area }}</span>
            </p>
            {% if i.age %}
            <p>
                <span class="label">Věk:</span><span class="value">{{ i.age }}</span>
            </p>
            {% endif %}
            {% if i.phone %}
            <p>
                <span class="label">Telefon:</span><span class="value">{{ i.phone }}</span>
            </p>
            {% endif %}
            {% if i.mobil %}
            <p>
                <span class="label">Mobil:</span><span class="value">{{ i.mobil }}</span>
            </p>
            {% endif %}
            {% if i.experience %}
            <p>
                <span class="label">Doba hraní DrD:</span><span class="value">{{ i.experience }}</span>
            </p>
            {% endif %}
            <p>
                <span class="label">Přidáno:</span><span class="value"><time datetime={{ i.published | date:"r"  }}>{{ i.published | articleTime }}</time></span>
            </p>
            <p>
                <span class="label">Text:</span><span class="value">{{ i.text|render_html|safe }}</span>
            </p>
        </article>

        <hr>
    {% endfor %}
    {% pagination items %}
</div>
{% endblock %}
